.transactions {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #333;
}

.transactions th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
}

.transactions tr {
  text-transform: capitalize;
  background-color: #f9f9f9;
}

.transactions tr:nth-child(even) {
  background-color: #e0e0e0;
}

.transactions th,
.transactions td {
  padding: 10px 15px;
  border: 1px solid #ccc;
}
